html, body {
  font-size: 16px;
  color: #800000;
  background-color: #FFFFEE;
}

a {
  &:visited {
    color: #0000EE;
  }

  &:hover {
    color: #DD0000;
  }
}

header {
  width: 960px;
  padding: 10px;
  margin: 0 auto;

  a {
    margin-right: 5px;
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 30px;

  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}

.main {
  width: 720px;
  float: left;
}

dl {
  dd {
    margin-bottom: 5px;
  }
}

.post {
  padding: 10px;
  border-bottom: 1px solid #E3E2E1;

  .title {
    font-weight: bold;
    color: #cc1105;

    a {
      color: #cc1105;
    }
  }

  .reply {
  }
}

.info {
  .login {
    color: #117743;
    font-weight: bold;
    font-size: 14px;
  }

  span {
    margin-right: 5px;
  }
}

.meta {
  color: #707070;
  font-size: 12px;
  span {
    margin-right: 5px;
  }
}

.responses {
  margin-top: 10px;
}

.res {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #F0E0D6;
  border-left: 5px solid #666;
}

.sideRight {
  float: left;
  margin-right: -3px;
  width: 180px;
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
  border: 1px dashed #E3E2E1;
}

/**
 * form css
 */
.form-box {
  margin-bottom: 10px;
}

textarea {
  color:#666;
  -moz-border-radius: 8px; -webkit-border-radius: 8px;
  margin:5px 0px 10px 5px;
  padding:10px;
  height:75px;
  width:670px;
  border:#999 1px solid;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);

  &:focus {
    color:#000;
    outline:none;
    border:#35a5e5 1px solid;
  }

  &.middle {
    height: 75px;
  }
}

.btn {
  float: right;
}

.pagination {

}

footer {
  width: 960px;
  margin: 0 auto;
  height: 30px;
  position: fixed;
  display: block;
  bottom: 0;
}